@model Imobiliaria.Models.DadosImobi

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>DadosImobi</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Banheiros)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Banheiros)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AreaTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AreaTotal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AreaPrivativa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AreaPrivativa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Churrasqueira)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Churrasqueira)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Condominio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Condominio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Complemento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Complemento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dependencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dependencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Elevador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Elevador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dormitorios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dormitorios)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Planta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Planta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Latitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Latitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagemPrincipal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagemPrincipal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Iptu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Iptu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MostrarMapa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MostrarMapa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Longitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Suites)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Suites)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sacada)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sacada)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Portaria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Portaria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Vagas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vagas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Uf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Uf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorAluguel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorAluguel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorVenda)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
